body{
  margin: 0;
  padding: 0;
  background: #0b0b0b;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

li{
  display: inline-block;
}

li a{
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 25px;
  padding: 0 20px;
  display: inline-block;
}
.cool-link::after{
  content: '';
  /* position: absolute;
  right: 60px; */
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s;
}

.cool-link:hover::after{
  width: 100%;
  transition: width .3s;
}