body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  width: 70%;
  min-height: 400px;
  min-width: 400px;
  background: #fff;
  padding: 40px 20px;
  border-radius: 5px;
  box-shadow: 15px 55px 50px 2px #b6b6b6; 
}
ul {
  padding: 0;
  list-style: none;
}

.twitter {
  display: flex;
  height: 46px;
  align-items: center;
  padding: 0 10px;
  border: 1px solid rgba(238,238,238 ,1);
  border-radius: 5px;
  color: rgba(117,117,117 ,1);
  box-shadow: 5px 10px 20px -20px rgba(85,172,238 ,1);
}
.twitter__bird {
  margin-left: auto;
  margin-right: auto;
  color: rgba(85,172,238 ,1);
  font-size: 1.3em;
}

.twitter li {
  cursor: pointer;
}
.twitter li:hover{
  color: rgba(85,172,238 ,1);
}

.twitter li:not(:last-child):not(.twitter__bird) {
  margin-right: 10px;
}

.twitter  li i:not(.fa-twitter):not(.fa-search):not(.fa-user-circle-o) {
  margin-right: 3px;
}

.twitter__button {
  font-size: 0.8em;
  border: 0;
  background: rgba(85,172,238 ,1);
  color: #fff;
  border-radius: 100px;
  padding: 3px 7px;
}


/* Facebook
===================== */

.facebook {
  display: flex;
}

.facebook__search {
  margin-right: auto;
}

.facebook {
  height: 46px;
  align-items: center;
  padding: 0 10px;
  border: 1px solid rgba(238,238,238 ,1);
  border-radius: 5px;
  background: rgba(59,89,153 ,1);
  color: #fff;
  font-size: 0.9em;
  box-shadow: 5px 10px 20px -20px rgba(59,89,153 ,1)
}

.facebook__brand i{
  font-size: 1.5em;
}
.facebook li:not(:last-child):not(:first-child):not(.facebook__search) {
  margin-right: 10px;
}

.facebook li:first-child {
  margin-right: 5px;
}
.facebook__search form{
  margin-right:5px;
}

.facebook__search{
  padding-right: 20px;
}
/* Medium
================= */

.medium{
  display: flex;
}

.medium__brand{
  margin: 0 auto;
  font-size: 1.6em;
}
.medium li:not(:last-child):not(.medium__brand) {
  margin-right: 15px;
}
.medium {
  height: 46px;
  align-items: center;
  padding: 0 10px;
  border: 1px solid rgba(238,238,238 ,1);
  border-radius: 5px;
  color: #000;
  font-size: 1.2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-shadow: 5px 10px 20px -20px rgba(59,89,153 ,1)
}

.medium__button{
color: rgba(0, 0, 0, 0.68);
background-color: rgba(0, 0, 0, 0);
font-size: 15px;
line-height: 24px;
border: 1px solid rgba(0, 0, 0, 0.3);
outline: none;
cursor: pointer;
border-radius: 4px;
}

.medium__button:hover,
.medium__button:focus{
  border: 1px solid rgba(0, 0, 0, 0.68);
}


/* github */

.github{
  display: flex;
}

.explore{
  margin-right:auto;
}

.github li:not(.explore):not(:last-child) {
  margin-right: 15px;
}

.github li:last-child{
  margin-left:-5px; 
}